---
import Layout from "../layouts/Layout.astro";
import GestureHUD from "../components/GestureHUD.astro";
import Title from "../slides/01-Title.astro";
import PixelsToBodies from "../slides/02-PixelsToBodies.astro";
import UnderTheHood from "../slides/03-UnderTheHood.astro";
import DemoLandmarks from "../slides/04-DemoLandmarks.astro";
import LandmarksToMeaning from "../slides/05-LandmarksToMeaning.astro";
import DemoFingerspell from "../slides/06-DemoFingerspell.astro";
import GesturesToControl from "../slides/07-GesturesToControl.astro";
import DemoGestures from "../slides/08-DemoGestures.astro";
import NumberOne from "../slides/09-NumberOne.astro";
import NumberTwo from "../slides/10-NumberTwo.astro";
import NumberThree from "../slides/11-NumberThree.astro";
// import Finale from "../slides/11-Finale.astro";
import Learnings from "../slides/12-Learnings.astro";
import QandA from "../slides/13-QandA.astro";
import Thanks from "../slides/14-Thanks.astro";
---

<Layout title="No Hands — camera body detection in the browser">
	<main class="reveal">
		<div class="slides">
			<Title />
			<PixelsToBodies />
			<UnderTheHood />
			<DemoLandmarks />
			<LandmarksToMeaning />
			<DemoFingerspell />
			<GesturesToControl />
			<DemoGestures />
			<NumberOne />
			<NumberTwo />
			<NumberThree />
			<!--<Finale />-->
			<Learnings />
			<QandA />
			<Thanks />
		</div>
	</main>
	<GestureHUD />
</Layout>
